<div class="country-card">
    <div class="country-thumb">
        <img class="country-img" src="{{flag}}" alt="flag">
        <h2>{{name}}</h2>
    </div>
    <div>
        <p><span class="country-text">Capital:</span> {{capital}}</p>
        <p><span class="country-text">Population:</span> {{population}}</p>
        <p><span class="country-text">Languages:</span></p>
        <ul>
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
        </ul>
    </div>
</div>

